html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@import "./utils/variables";
@import "./utils/animation";
@import "./layout/header";
@import "./layout/grid";
@import "./layout/footer";
@import "./componants/buttons";
@import "./pages/home";
@import "./pages/restaurant";
