html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  margin: 1rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eaeaea;
  padding: 1rem 0;
}

.location-pin {
  padding-right: 1rem;
}

.search-restaurant {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17rem;
}

.search-restaurant-title, .search-restaurant-text {
  margin: 0 3rem;
  text-align: center;
}

.search-restaurant-button {
  padding: 1rem;
  border-radius: 2rem;
  background: #9356dc;
  color: white;
  border: none;
}

.concept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem 0 1.5rem;
}

.concept-block {
  background: #f6f6f6;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 0.2rem #f6f6f6;
          box-shadow: 0px 0px 0.2rem #f6f6f6;
  border-radius: 1rem;
  padding: 0.5rem 0;
}

.concept-block-circle {
  background: #9356dc;
  width: 1.4rem;
  height: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  margin-left: -0.5rem;
}

.concept-block-icon {
  padding: 0 1rem;
  color: grey;
}

.concept-block:hover {
  background: #f5edff;
}

.section {
  padding: 1rem;
  background: #eaeaea;
}

.section-restaurant {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 15rem 15rem 15rem 15rem;
      grid-template-rows: 15rem 15rem 15rem 15rem;
  place-content: center;
  grid-gap: 1rem;
}

.section-restaurant-link {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  border-radius: 1rem;
  text-decoration: none;
}

.section-restaurant-link-img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
  min-width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.section-restaurant-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  width: 100%;
  margin: 0 1rem;
}

.section-restaurant-link-container-icon {
  font-size: 1.5rem;
}

.section-restaurant-link-container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-restaurant-link-container-text-title {
  margin: 0;
}

.section-restaurant-link-one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section-restaurant-link-two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section-restaurant-link-three {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section-restaurant-link-four {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.footer {
  background: #353535;
  color: white;
  padding: 1.3rem;
}

.footer-block-logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

.footer-block-text {
  list-style-type: none;
  padding: 0;
}

.footer-block-text-link {
  display: block;
  padding-bottom: 0.5rem;
}

.footer-block-text-link-icon {
  width: 0.5rem;
  margin-right: 1rem;
}
/*# sourceMappingURL=main.css.map */