html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  margin: 1rem;
}

.location {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  padding: 1rem 0;
}
.location-pin {
  padding-right: 1rem;
}

.search-restaurant {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 17rem;
}
.search-restaurant-title, .search-restaurant-text {
  margin: 0 3rem;
  text-align: center;
}
.search-restaurant-button {
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(#f074da, #aa5ddc);
  color: white;
  border: none;
  box-shadow: 0px 5px 10px -2px #bcbcbc;
}

.concept {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 2rem 1.5rem;
}
.concept-block {
  background: #f6f6f6;
  margin: 1rem 0;
  display: flex;
  height: 3rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 0.2rem #f6f6f6;
  border-radius: 1rem;
  padding: 0.5rem 0;
  box-shadow: 0px 5px 10px -2px #bcbcbc;
}
.concept-block-circle {
  background: #9356dc;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  margin-left: -0.5rem;
}
.concept-block-icon {
  padding: 0 1rem;
  color: grey;
}

.concept-block-icon:hover {
  color: #9356dc;
}

.concept-block:hover {
  background: #f5edff;
}

.section {
  padding: 3rem 1rem;
  background: #eaeaea;
}
.section-restaurant {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15rem 15rem 15rem 15rem;
  place-content: center;
  grid-gap: 1rem;
}
.section-restaurant-link {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  box-shadow: 0px 5px 10px -2px #bcbcbc;
}
.section-restaurant-link-img {
  overflow: hidden;
  object-fit: cover;
  height: 70%;
  min-width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.section-restaurant-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 100%;
  margin: 0 1rem;
}
.section-restaurant-link-container-icon {
  font-size: 1.5rem;
}
.section-restaurant-link-container-text {
  display: flex;
  flex-direction: column;
}
.section-restaurant-link-container-text-title {
  margin: 0;
}

.section-restaurant-link-one {
  grid-column: 1/2;
  grid-row: 1/2;
}

.section-restaurant-link-two {
  grid-column: 1/2;
  grid-row: 2/3;
}

.section-restaurant-link-three {
  grid-column: 1/2;
  grid-row: 3/4;
}

.section-restaurant-link-four {
  grid-column: 1/2;
  grid-row: 4/5;
}

.footer {
  background: #353535;
  color: white;
  padding: 1.3rem;
}
.footer-block-logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
}
.footer-block-text {
  list-style-type: none;
  padding: 0;
}
.footer-block-text-link {
  display: block;
  padding-bottom: 0.5rem;
}
.footer-block-text-link-icon {
  width: 0.5rem;
  margin-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
