.top-img {
  height: 20rem;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}
.main {
  background: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
  position: relative;

  &-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    &-title {
      font-family: "Shrikhand", cursive;
      font-size: 1.6rem;
    }
  }
  .block_one {
    animation: slideUp 0.5s;
  }
  .block_two {
    animation: slideUp 1s;
  }
  .block_three {
    animation: slideUp 1.5s;
  }
  &-block {
    margin: 0 1rem;
    &-title {
      margin: 1.3rem 0;
      font-size: 1.2rem;
      font-weight: lighter;
      text-transform: uppercase;
      position: relative;
    }
    &-dish {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
      border-radius: 0.7rem;
      background: white;
      box-shadow: 0px 5px 10px -2px #bcbcbc;
      padding: 1rem;

      position: relative;
      overflow: hidden;

      &-description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        &-name {
          font-weight: bold;
        }
        &-text {
          margin: 0;
          font-weight: lighter;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &-price {
        font-weight: bold;
        display: flex;
        align-self: flex-end;
        transition: transform 330ms;
      }
      &-animation {
        width: 4rem;
        height: 100%;
        background: $color-third;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 -4rem;
        transition: transform 330ms;
        display: flex;
        justify-content: center;
        align-items: center;

        &-circle {
          color: white;
          transition: transform 330ms;
          font-size: 1.5rem;
        }
      }
    }
  }
}
.main-block-dish:hover .main-block-dish-description {
  width: calc(100% - 35%);
  transition: 330ms;
}

.main-block-title::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background: $color-third;
  position: absolute;
  z-index: 20;
  left: 0;
  bottom: -0.5rem;
}
